
.sub-header1 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 20px black solid ;
    border-left: 20px black solid ;
    border-right: 20px black solid ;
    border-bottom: 10px black solid;
    min-height:auto;
    background-color: rgb(45, 64, 89);
}

.sub-header2 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 10px black solid ;
    border-left: 20px black solid ;
    border-right: 20px black solid ;
    border-bottom: 20px black solid;
    height:120px;
    background-color: rgb(221, 113, 58); 
}

.text-left, 
.text-middle, 
.text-right{
    background-color: rgb(234, 84, 85);
    height: 50px;
    margin: 25px;
}

.text-left,
.text-right{
    width: 200px;
}

.text-middle{
    width: 100%;
}

.text1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 212, 96);
    height: 50px;
    width: 100%;
    margin:25px;
}

.main-container{
    display: flex;
    margin-top: 40px;
    min-height: auto; 
    
    
}

.lowered-paired-text,
.upper-paired-text{
    display: flex;
}


.left-part{
    width: 100%;
    background-color:rgb(78, 78, 106);    
    border-right: 10px solid black;
    border-top: 20px black solid ;
    border-left: 20px black solid ;
    border-bottom: 20px black solid;
    
}

.right-part{
    width: 600px;
    background-color:rgb(247, 63, 82);
    border-left: 10px solid black;
    border-bottom: 20px black solid;
    border-right: 20px solid black;
    border-top: 20px black solid ;
    

}

.text-left1,  
.text-left2,
.text-left3,
.text-left4,
.text-left5,
.text-right1,
.text-right2{
margin:25px;
height: 50px;
}

.text-left1,  
.text-left2,
.text-left3,
.text-left4 {
background-color: rgb(31, 108, 176);
height: 50px;
width: 100%;
margin-bottom: 0px;

}

.text-left5 {
    background-color:  rgb(112, 163, 196);
 }

.text-right1,
.text-right2{
background-color: rgb(254, 234, 133);
margin:25px;
}



.footer{
    border: 20px solid black;
    width: auto;
    height: 50px;
    margin-top: 40px;
    background-color: rgb(230, 175, 46);
}


@media  (max-width: 600px){
    .main-container{
        display: block;
        border: rgb(254, 255, 3) 10px solid;
            }
    .left-part,
    .right-part{
     border:10px solid rgb(254, 255, 3);
     width: 100%;
    
        }
    }
   

@media (max-width:480px){

    .sub-header1 {
        display: block;
        min-height:auto;
        
    

    }

    .sub-header2{
        
    }

.text-left, 
.text-middle, 
.text-right{
    width: auto;
    
}


    
}




