body{
    margin-left: 70px;
    margin-right: 70px;
}
.header{
    background: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position-y: -250px;
    

}

.sub-header1 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    min-height:auto;
    
}

.sub-header2 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.3rem;
    background-color: rgb(212, 212, 212);
    opacity: 0.7;
    padding-bottom: 4rem;
    margin-right: 9rem;
    margin-left: 9rem;
    
   
}

.text-left, 
.text-middle, 
.text-right{
    
    height: 50px;
    margin: 25px;
}

.text-left,
.text-right{
    width: 23.33%;
}

.text-middle{
    display: flex;
    justify-content: space-around;
    width: 76.66%;
}
.container{
    display: flex;
    align-items: center;
    color: rgb(128, 128, 128);
    gap: 5px;;
}

.text{
    font-size: 1.2rem;

}
.text-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(128, 128, 128);

}

.text1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin:25px;
    color: rgb(243, 154, 121);
    font-size: 2.8vw;
}

.main-container{
    display: flex;
    margin-top: 40px;
    min-height: auto; 
}

.lowered-paired-text,
.upper-paired-text{
    display: flex;
}

.left-part{
    width: 100%;
    background-color:rgb(216, 215, 215);
    border-width: 20px 10px 20px 20px;  
   
}

.text-left{
    display: flex;
    justify-content: center;
}

.right-part{
    width: 600px;
    background-color:rgb(216, 215, 215);
    border-width: 20px 20px 20px 10px;
    
}

.text-left1,  
.text-left2,
.text-left3,
.text-left4,
.text-left5,
.text-right1,
.text-right2{
    margin:10px;
    height: auto;
}

.image-main{
    background: url("../images/sakura.jpg");
    height: 13rem;
    width: auto;
    background-color: black;
    background-size: cover;
    position: relative;
}

.data{
    position: absolute;
    bottom: 0;
    left: 10px;
    color: rgb(240, 230, 140);
    font-size: 1.1rem;
    font-weight: bold;
}

.small-header{
    background-color: rgb(240, 128, 128);
    color: white;
    font-size: 1.8rem;
    padding-top: 0.8rem;
    padding-left: 0.2rem;
}

.text-left1,  
.text-left2,
.text-left3,
.text-left4 {
    background-color: rgb(245, 241, 241);
    width: 100%;
    margin-bottom: 0px;
}

.text-left5 {
    background-color:  rgb(245, 241, 241);
 }

 p, .small-header, .image-main{
 margin:10px;
 column-count: 2;
 }


.text-right1,
.text-right2{
    background-color: rgb(254, 234, 133);
    margin:25px;
}

.footer{
    border: 20px solid black;
    width: auto;
    height: 50px;
    margin-top: 40px;
    background-color: rgb(230, 175, 46);
}


@media  (max-width: 600px){
    .main-container{
        display: block;
     }
    .left-part{
    border-width: 20px 20px 10px 20px;
    border-style: solid;
    border-color:rgb(254, 255, 3) ;
    width: auto;
    }

    .right-part{
        border-width: 10px 20px 20px 20px;
        border-style: solid;
        border-color:rgb(254, 255, 3) ;
        width: auto;;
        }
    }
   

@media (max-width:480px){
    .right-part, .left-part{
    border-color: rgb(254, 226, 40);
    }

    .sub-header1 {
        display: block;
        min-height:auto;
    }
        
    .upper-paired-text, .lowered-paired-text{
        display: block;
        width: auto;

    }
    .text-left1,
    .text-left2,
    .text-left3,
    .text-left4{
    width: auto;
    background-color: rgb(98, 149, 156);
}

.text-left5{
    background-color: rgb(163, 221, 203);
}

.text-left, 
.text-middle, 
.text-right{
    width: auto;
    
}

.left-part{
    background-color: rgb(9, 80, 111);
}

.right-part{
    background-color: rgb(253, 123, 84);
}

.text-right1, .text-right2{
    background-color: rgb(253, 179, 107);
}

.footer{
    background-color: rgb(253, 199, 100);
}

}









/*body{
    margin-right: 60px;
    margin-left: 60px;
    
}
.header{
    
    background: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    
}
.sub-header1{
    display: flex;
    align-items: center;    
    justify-content: space-around;
    padding-top: 60px;
    margin-bottom: 130px;
    
}
.box-middle{
    color: rgb(179, 179, 179);
    font-size: small;
    gap: 110px;
    
}

.box-right{
    color: rgb(179, 179, 179);
    gap: 20px;
    
}

.box-right, 
.box-middle, 
.box-left{
    display: flex;
    justify-content: center;
    align-items: center;

}


.sub-header2{
    background-color: rgb(212, 212, 212);
    margin:80px;
    opacity: 0.7;
    
}
.text1{
    
    padding: 30px;
    text-align:center;
    color: rgb(243, 154, 121);
    font-size: 2.2vw;
    height: 80px;
}

.container{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.text{
    font-size: 1rem;
}

*/

    
    

